      <div class="col-md-12">
        {% if messages %}
          {% for message in messages %}
             {% if message.tags == 'success' %}
                <div class="alert alert-success alert-with-icon">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="tim-icons icon-bell-55"></span>
                  <span data-notify="message">{{ message }}</span>
                </div>
             {% else %}
                <div class="alert alert-warning alert-with-icon">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="tim-icons icon-alert-circle-exc"></span>
                  <span data-notify="message">{{ message }}</span>
                </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>