{% extends 'accounts/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <form method="POST" id="signup-form" class="signup-form">
                {% csrf_token %}
                <h2 class="form-title">Password Reset</h2>
                <div class="mb-3">
                    {{ form|crispy }}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Send Reset Email"/>
                </div>
            </form>

            {% include 'accounts/messages.html' %}

            <p class="loginhere">
                Don't have an account ? <a href="{% url 'accounts:signup' %}" class="loginhere-link">Sign Up here</a>
            </p>
            <p class="loginhere">
                Have already an account ? <a href="{% url 'accounts:login' %}" class="loginhere-link">Login here</a>
            </p>
        </div>
    </div>
</section>

{% endblock content %}